<div class='editor-container'>
  <div class='editor-menu-container'>
    <nav class='editor-menu navbar'>
      <div class='editor-menu-tools'>
        <button {{action 'undo'}} class='btn btn-icon'><i class='fa fa-undo'></i></button>
        <button {{action 'redo'}} class='btn btn-icon'><i class='fa fa-repeat'></i></button>
        <button {{action 'duplicate'}} class='btn btn-icon'><i class='fa fa-copy'></i></button>
        <button {{action 'delete'}} class='btn btn-icon'><i class='fa fa-trash'></i></button>
        <!--<button {{action 'exportToImage'}} class='btn btn-icon'><i class='fa fa-download'></i></button>-->
        <button {{action 'toggleRawImage'}} class='btn btn-icon'><i class='fa fa-eye'></i></button>
        <button {{action 'sendToBack'}} class='btn btn-icon'><i class='fa'><img src="/assets/sendtoback.png"></i></button>
        <button {{action 'bringToFront'}} class='btn btn-icon'><i class='fa'><img src="/assets/sendtofront.png"></i></button>
      </div>

      {{#if isShowingMockupName}}
        <div class='editor-mockup-name'>
          {{input type='text' value=mockup.name class="toggle-input form-control" focus-out='toggleEdit'}}
        </div>
      {{else}}
        <div class='editor-mockup-name change-mockup-name' {{action 'toggleEdit'}}>
          Mockup <span class='mockup-name'>{{mockup.name}}</span>
        </div>
      {{/if}}
    </nav>
  </div>

  <div class='editor-canvas-container'>
    <div class='editor-sidebar-wrapper'>
      <ul class='editor-stencil list-unstyled'>
        <li class='editor-card'>
            <div class='draggable-el-container'>
              {{#ui-draggable appendTo='.droppable-el' revert='invalid' helper='clone' class='draggable-el component-clone' onStart='onDragStart'}}
                  <div style="color: #373a3c; border: none; text-align: center; font-size: 20px; line-height: 70px; background: #FFFFFF;">TextLabel</div>
              {{/ui-draggable}}
            </div>
        </li>
        <li class='editor-card'>
            <div class='draggable-el-container'>
              {{#ui-draggable appendTo='.droppable-el' revert='invalid' helper='clone' class='draggable-el component-clone' onStart='onDragStart'}}
                  <div style="width: 100%;text-align:center"><img style="max-width: 100%; max-height: 6rem;" src="/assets/component/textfield.png"></div>
                  <div style="color: #373a3c; border: none; text-align: center; font-size: 20px; line-height: 70px; background: #FFFFFF;">TextField</div>
              {{/ui-draggable}}
            </div>
        </li>
        <li class='editor-card'>
          <div class='draggable-el-container'>
            {{#ui-draggable appendTo='.droppable-el' revert='invalid' helper='clone' class='draggable-el component-clone' onStart='onDragStart'}}
                <div style="width: 100%;text-align:center"><img style="max-width: 100%; max-height: 6rem;" src="/assets/component/textarea.png"></div>
                <div style="color: #373a3c; border: none; text-align: center; font-size: 20px; line-height: 70px; background: #FFFFFF;">TextArea</div>
            {{/ui-draggable}}
          </div>
        </li>
        <li class='editor-card'>
          <div class='draggable-el-container'>
            {{#ui-draggable appendTo='.droppable-el' revert='invalid' helper='clone' class='draggable-el component-clone' onStart='onDragStart'}}
                <div style="width: 100%;text-align:center"><img style="max-width: 100%; max-height: 6rem;" src="/assets/component/link.png"></div>
                <div style="color: #373a3c; border: none; text-align: center; font-size: 20px; line-height: 70px; background: #FFFFFF;">Link</div>
            {{/ui-draggable}}
          </div>
        </li>
        <li class='editor-card'>
          <div class='draggable-el-container'>
            {{#ui-draggable appendTo='.droppable-el' revert='invalid' helper='clone' class='draggable-el component-clone' onStart='onDragStart'}}
                <div style="width: 100%;text-align:center"><img style="max-width: 100%; max-height: 6rem;" src="/assets/component/button.png"></div>
                <div style="color: #373a3c; border: none; text-align: center; font-size: 20px; line-height: 70px; background: #FFFFFF;">Button</div>
            {{/ui-draggable}}
          </div>
        </li>
        <li class='editor-card'>
          <div class='draggable-el-container'>
            {{#ui-draggable appendTo='.droppable-el' revert='invalid' helper='clone' class='draggable-el component-clone' onStart='onDragStart'}}
                <div style="width: 100%;text-align:center"><img style="max-width: 100%; max-height: 6rem;" src="/assets/component/panel.png"></div>
                <div style="color: #373a3c; border: none; text-align: center; font-size: 20px; line-height: 70px; background: #FFFFFF;">Panel</div>
            {{/ui-draggable}}
          </div>
        </li>
        <li class='editor-card'>
          <div class='draggable-el-container'>
            {{#ui-draggable appendTo='.droppable-el' revert='invalid' helper='clone' class='draggable-el component-clone' onStart='onDragStart'}}
                <div style="width: 100%;text-align:center"><img style="max-width: 100%; max-height: 6rem;" src="/assets/component/graph.png"></div>
                <div style="color: #373a3c; border: none; text-align: center; font-size: 20px; line-height: 70px; background: #FFFFFF;">Graph</div>
            {{/ui-draggable}}
          </div>
        </li>
        <li class='editor-card'>
            <div class='draggable-el-container'>
              {{#ui-draggable appendTo='.droppable-el' revert='invalid' helper='clone' class='draggable-el component-clone' onStart='onDragStart'}}
                  <div style="width: 100%;text-align:center"><img style="max-width: 100%; max-height: 6rem;" src="/assets/component/checkbox.png"></div>
                  <div style="color: #373a3c; border: none; text-align: center; font-size: 20px; line-height: 70px; background: #FFFFFF;">Checkbox</div>
              {{/ui-draggable}}
            </div>
        </li>
        <li class='editor-card'>
            <div class='draggable-el-container'>
              {{#ui-draggable appendTo='.droppable-el' revert='invalid' helper='clone' class='draggable-el component-clone' onStart='onDragStart'}}
                <div style="width: 100%;text-align:center"><img style="max-width: 100%; max-height: 6rem;" src="/assets/component/dropdown.png"></div>
                <div style="color: #373a3c; border: none; text-align: center; font-size: 20px; line-height: 70px; background: #FFFFFF;">Dropdown</div>
              {{/ui-draggable}}
            </div>
        </li>
        <li class='editor-card'>
            <div class='draggable-el-container'>
              {{#ui-draggable appendTo='.droppable-el' revert='invalid' helper='clone' class='draggable-el component-clone' onStart='onDragStart'}}
                <div style="width: 100%;text-align:center"><img style="max-width: 100%; max-height: 6rem;" src="/assets/component/videoplayer.png"></div>
                <div style="color: #373a3c; border: none; text-align: center; font-size: 20px; line-height: 70px; background: #FFFFFF;">VideoPlayer</div>
              {{/ui-draggable}}
            </div>
        </li>
        <li class='editor-card'>
            <div class='draggable-el-container'>
              {{#ui-draggable appendTo='.droppable-el' revert='invalid' helper='clone' class='draggable-el component-clone' onStart='onDragStart'}}
                  <div style="width: 100%;text-align:center"><img style="max-width: 100%; max-height: 6rem;" src="/assets/component/radio.png"></div>
                  <div style="color: #373a3c; border: none; text-align: center; font-size: 20px; line-height: 70px; background: #FFFFFF;">RadioButton</div>
              {{/ui-draggable}}
            </div>
        </li>
        <li class='editor-card'>
            <div class='draggable-el-container'>
              {{#ui-draggable appendTo='.droppable-el' revert='invalid' helper='clone' class='draggable-el component-clone' onStart='onDragStart'}}
                  <div style="width: 100%;text-align:center"><img style="max-width: 100%; max-height: 6rem;" src="/assets/component/table.png"></div>
                  <div style="color: #373a3c; border: none; text-align: center; font-size: 20px; line-height: 70px; background: #FFFFFF;">Table</div>
              {{/ui-draggable}}
            </div>
        </li>
        <li class='editor-card'>
            <div class='draggable-el-container'>
              {{#ui-draggable appendTo='.droppable-el' revert='invalid' helper='clone' class='draggable-el component-clone' onStart='onDragStart'}}
                  <div style="width: 100%;text-align:center"><img style="max-width: 100%; max-height: 6rem;" src="/assets/component/calendar.png"></div>
                  <div style="color: #373a3c; border: none; text-align: center; font-size: 20px; line-height: 70px; background: #FFFFFF;">Calendar</div>
              {{/ui-draggable}}
            </div>
        </li>
        <li class='editor-card'>
            <div class='draggable-el-container'>
              {{#ui-draggable appendTo='.droppable-el' revert='invalid' helper='clone' class='draggable-el component-clone' onStart='onDragStart'}}
                  <div style="width: 100%;text-align:center"><img style="max-width: 100%; max-height: 6rem;" src="/assets/component/image.png"></div>
                  <div style="color: #373a3c; border: none; text-align: center; font-size: 20px; line-height: 70px; background: #FFFFFF;">Image</div>
              {{/ui-draggable}}
            </div>
        </li>
        <li class='editor-card'>
            <div class='draggable-el-container'>
              {{#ui-draggable appendTo='.droppable-el' revert='invalid' helper='clone' class='draggable-el component-clone' onStart='onDragStart'}}
                  <div style="width: 100%;text-align:center"><img style="max-width: 100%; max-height: 6rem;" src="/assets/component/map.png"></div>
                  <div style="color: #373a3c; border: none; text-align: center; font-size: 20px; line-height: 70px; background: #FFFFFF;">Map</div>
              {{/ui-draggable}}
            </div>
        </li>
      </ul>
    </div>

    <div class='editor-canvas-wrapper'>
      <!--<div class='containment'>-->
      <!--<div class='draggable-el-container'>-->
      <!--{{!#ui-draggable appendTo='.droppable-el' revert='invalid' helper='clone' class='draggable-el' }}-->
      <!--<div-->
      <!--style="z-index: 1; top: 166px; left: 163px; width: 74px; height: 70px; color: rgb(255, 255, 255); border: none; text-align: center; font-size: 20px; line-height: 70px; background: rgb(194, 194, 194);">-->
      <!--text-->
      <!--</div>-->
      <!--{{!/ui-draggable}}-->
      <!--</div>-->

      <!--<button {{!action 'bringToFront'}}>Bring to front</button>-->
      <!--<button {{!action 'sendToBack'}}>Send to back</button>-->
      <!--<button {{!action 'toggleRawImage'}} type="button" class="btn btn-primary" data-toggle="button"-->
      <!--aria-pressed="false"-->
      <!--autocomplete="off">-->
      <!--Show raw image-->
      <!--</button>-->

      {{#ui-droppable onDrop='dropped' class='droppable-el'}}
        <div class='html-div'>
          {{#each mockup.json_elements.elements as |e|}}
            {{#editor.new-element e=e notifyDragged='notifyDragged' notifyResize='notifyResize' notifySaveTextChange='notifySaveTextChange' click='echo'}}

            {{/editor.new-element}}
          {{/each}}
        </div>
      {{/ui-droppable}}
      <!--</div>-->
    </div>
  </div>
</div>