<div class='invitation-container' id='invitation-{{invitation.id}}'>
  <div class='invitation-content'>
    <div class='invitation-information'>
      {{invitation.sender_name}} want you to
      <span>Project {{invitation.project_name}}</span>
    </div>
    <button {{action 'accept' invitation}} class='btn btn-info accept-button'>Accept</button>
    <button {{action 'refuse' invitation}} class='btn btn-danger refuse-button'>Refuse</button>
  </div>

  <button class='invitation-notification' {{action 'fadeNotification' invitation.id}}><i class='fa fa-exclamation'></i></button>
</div>