<form class='form-body'>
  <fieldset class='project-list'>
    <legend>
      <div class='legend-header'>
        Projects <span>( {{projects.length}} )</span>
      </div>

      <div class='filter-group'>
        <div class='form-group form-search col-xs-8 col-sm-8'>
          {{input class='form-control' name='search-project' value=projectSearch placeholder='name' key-up='searchProject'}}
        </div>

        <div class='form-group col-xs-4 col-sm-4'>
          {{#x-select action='filterProjects' class='form-control c-select' default='all'}}
            {{#x-option value='all'}}All{{/x-option}}
            {{#x-option value='yours'}}Yours{{/x-option}}
            {{#x-option value='shared'}}Shared{{/x-option}}
          {{/x-select}}
        </div>
      </div>
    </legend>

    {{#if projects}}
      <div class='app-card-container'>
        {{#each projects as |project|}}
          <div class='app-card'>
            {{#link-to 'protected.projects.detail' project.id}}
              <div class='app-card-image-container hidden-sm-down'>
                {{#unless project.image_url}}
                  <div class='blank-state image'>
                    <div class='content-container'>
                      <p>Insert cover photo</p>
                    </div>
                  </div>
                {{else}}
                  <img class='image' src='{{project.image_url}}'/>
                {{/unless}}
                <div class='plaster plaster-top-right'></div>
                <div class='plaster plaster-top-left'></div>
                <div class='plaster plaster-bottom-right'></div>
                <div class='plaster plaster-bottom-left'></div>
              </div>
              <div class='app-card-name'>
                project {{project.name}}
              </div>
            {{/link-to}}
          </div>
        {{/each}}
      </div>
    {{else}}
      <div class='blank-state'>
        <div class='content-container'>
          <p>Don't have any projects</p>
        </div>
      </div>
    {{/if}}
  </fieldset>
</form>