{{input value=project.name name=project_name}}
<button {{action 'save' project}} disabled={{if canSave null 'disabled'}}>Save</button>
<br><br>
<h3>Owner</h3>
{{project.owner.username}}
<br>
<h3>Member</h3>
{{#each project.members as |member|}}
  {{member.username}}

  {{#unless member.isOwner}}
    {{#if canKick }}
      <button {{action 'kickMember' member}} class='kick-button'>Kick</button>
    {{/if}}

    {{#if canAssign }}
      <button {{action 'assignOwner' member}} class='assign-button'>Assign</button>
    {{/if}}
  {{/unless}}
  <br>
{{/each}}