<form class='form-body'>
  <fieldset class='project-detail'>
    <legend>
      <div class='legend-header'>
        Project {{project.name}}
      </div>
    </legend>

    <div class='project-manage'>
      <button class='btn btn-secondary-outline btn-outline'>
        <div class='btn-icon'>
          <span class='fa fa-plus'></span>
        </div>
        <div class='btn-text'> Create mockup</div>
      </button>

      {{#link-to 'protected.projects.detail.members' tagName='button' class='btn btn-secondary-outline btn-outline'}}
        <div class='btn-icon'>
          <span class='fa fa-users'></span>
        </div>
        <div class='btn-text'> Manage team</div>
      {{/link-to}}
    </div>
  </fieldset>
</form>

<form class='form-body'>
  <fieldset class='mockup-list'>
    <legend>
      <div class='legend-header'>
        Mockups <span>( {{mockups.length}} )</span>
      </div>

      <div class='filter-group'>
        <div class='form-group form-search'>
          {{input class='form-control' name='search-mockup' value=mockupSearch placeholder='search by name' key-up='searchMockup'}}
        </div>
      </div>
    </legend>

    {{#if mockups}}
      <div class='card-container'>
        {{#each mockups as |mockup|}}
          <div class='card'>
            {{#link-to 'protected.projects.detail.mockups.detail' mockup.id}}
              <div class='image-container hidden-sm-down'>
                {{#unless mockup.raw_image.image_url}}
                  <div class='blank-state image'>
                    <div class='content-container'>
                      <p>Insert cover photo</p>
                    </div>
                  </div>
                {{else}}
                  <img class='image' src='{{mockup.raw_image.image_url}}'/>
                {{/unless}}
                <div class='plaster plaster-top-right'></div>
                <div class='plaster plaster-top-left'></div>
                <div class='plaster plaster-bottom-right'></div>
                <div class='plaster plaster-bottom-left'></div>
              </div>
              <div class='name'>
                Mockup {{mockup.name}}
              </div>
            {{/link-to}}
          </div>
        {{/each}}
      </div>
    {{else}}
      <div class='blank-state'>
        <div class='content-container'>
          <p>Don't have any mockups</p>
        </div>
      </div>
    {{/if}}
  </fieldset>
</form>