{{#if success}}
  <div class='form-group'>
    {{shared.alert-message type='success' message=success}}
  </div>
{{/if}}

{{#if errorMessage}}
  <div class='form-group'>
    {{shared.alert-message type='danger' message=errorMessage}}
  </div>
{{/if}}

<form class='form-body'>
  <fieldset class='project-detail'>
    <legend>
      <div class='legend-header'>
        Project {{project.name}}
      </div>
    </legend>

    <div class='project-manage'>
      <div class='create-mockup-container dropdown'>
        <button class='btn btn-secondary-outline btn-outline btn-icon' data-toggle='dropdown'>
          <i class='fa fa-plus'></i>
          <span class='btn-text'> Create mockup</span>
        </button>

        <div class='create-mockup-menu dropdown-menu'>
          <button class='btn btn-icon' {{action 'createMockup'}}>
            <i class='fa fa-file-text'></i>
            <span>Blank</span>
          </button>
          <div class='dropdown-divider'></div>
          {{#x-file-input value=photo name='photo' action='createMockupWithPhoto' on='change'}}
            <button class='btn btn-icon'>
              <i class='fa fa-camera'></i>
              <span>Upload a photo</span>
            </button>
          {{/x-file-input}}
        </div>
      </div>

      {{#link-to 'protected.projects.detail.members' tagName='button' class='btn btn-secondary-outline btn-outline btn-icon'}}
        <i class='fa fa-users'></i>
        <span class='btn-text'> Manage team</span>
      {{/link-to}}
    </div>
  </fieldset>
</form>

<form class='form-body'>
  <fieldset class='mockup-list'>
    <legend>
      <div class='legend-header'>
        Mockups <span>( {{mockups.length}} )</span>
      </div>

      <div class='filter-group'>
        <div class='form-group form-search'>
          {{input class='form-control' name='search-mockup' value=mockupSearch placeholder='search by name' key-up='searchMockup'}}
        </div>
      </div>
    </legend>

    {{#if mockups}}
      <div class='app-card-container'>
        {{#each mockups as |mockup|}}
          {{mockups.mockup-card mockup=mockup deleteMockup='afterDeleteMockup' errorImageProcess='applyErrorImageProcess'}}
        {{/each}}
      </div>
    {{else}}
      <div class='blank-state'>
        <div class='content-container'>
          <p>Don't have any mockups</p>
        </div>
      </div>
    {{/if}}
  </fieldset>
</form>